# Cache, session files and logs (Symfony3)
app/var/cache/*
app/var/log/*
app/var/sessions/*
!app/var/cache/.gitkeep
!app/var/log/.gitkeep
!app/var/sessions/.gitkeep

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
app/bin/*
!app/bin/console
!app/bin/symfony_requirements
app/vendor/

# Assets and user uploads
app/web/bundles/
app/web/uploads/

# PHPUnit
/app/phpunit.xml

# Build data
app/build/

.idea

app/.env
/mysql/*

