<form method="post" action="{{ path('factory_gifts_delete', {'id': factory_gifts.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factory_gifts.id) }}">
    <button class="btn">Supprimer</button>
</form>
