header, .card-header-primary {
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(0,109,119,1) 100%);
  //background-image: linear-gradient(to left bottom, #006D77, #14b9a9, #1ea99c, #23998e, #278a81);
}

.card-header-primary, .card-header-secondary {
  border-radius: 0!important;
}