@import "../custom";

.ulListesTraining {
  list-style: square;
}
.ulListesTraining li::before {
  color: $primary
}

.textCenterInLists  {
  text-align: center;
}

.textInLists  {
  color: $textcolor;
}